AZURE_TENANT_ID=ENTER_TENANT_ID_HERE
AZURE_BACKEND_CLIENT_ID=ENTER_BACKEND_CLIENT_ID_HERE
AZURE_BACKEND_CLIENT_SECRET=ENTER_BACKEND_CLIENT_SECRET_HERE
AZURE_BACKEND_SCOPE=api://ENTER_BACKEND_CLIENT_ID_HERE/access_as_user
