# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=4bcfc93272844f8da6e258c0456f8547
AZURE_OPENAI_ENDPOINT=https://azopenaiarmanino.services.ai.azure.com/
AZURE_OPENAI_API_VERSION=2024-02-15-preview
AZURE_OPENAI_MODEL_NAME=gpt-4o

# Orchestrator Settings
WS_HOST=0.0.0.0
WS_PORT=8001
BACKEND_URL=http://localhost:8000
